.myServicesContainer { 
    display: flex;
    flex-direction: column;
    margin-top: 44px;
}

.myServicesTitle { 
    font-size: 32px;
    color: #37000A;
    text-align: center;
    font-family: "Raleway";
}

.myServicesElementsContainer { 
    display: flex;
    justify-content: space-evenly;
    margin-top: 45px;
}

.myServicesDetails { 
    color: #37000A; 
    margin-right: 28px;
    margin-left: 28px;
    margin-top: 30px;
}

.myServicesYouSave { 
    font-size: 20px;
    color: #D41812;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 40px;
}

.myServicesPriceDetails { 
    font-size: 20px;
    font-family: 'Raleway';
    color: #3498DB; 
    margin-left: 12px;
    margin-right: 12px;
}

.myServicesPrice { 
    color: #D41812
}