.container { 
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 30px;
    background-color: #37000A;
    opacity: 0.65;
    height: 60px;
}

.logo { 
    height: 36px;
    width: 35px;
}

.title { 
    font-size: 18px;
    font-style: normal;
    font-family: 'Raleway';
    color: white
}