.appContainer { 
  display: flex;
  flex: 1; 
  flex-direction: column;
  background: url("./assets/svgImages/landingPageBackground.svg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: top;
  padding: 0;
  height: 90vh;
}
